.mainpage{
    margin-top: 3%;
    background: radial-gradient(#272727, #1b1b1b);
    height: 100vh;
}

.clg{
    
    background:linear-gradient(to right, rgb(255, 189, 74), rgb(250, 230, 80));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;


 font-family: 'Times New Roman', Times, serif;
 font-weight: 1000;
 font-size: 300%;
float: left;
    padding: 2%;
  }

  .clg1{
    background:linear-gradient(to right, rgb(255, 189, 74), rgb(250, 230, 80));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

  }

  .keclogo{
    width:20%;
    height: 90%;
    float: right;
  }

  .ename{
    background:linear-gradient(to right, rgb(255, 189, 74), rgb(250, 230, 80));
    padding: 2%;
    font-style: oblique;
  }

  .clgname{
    margin-left: 9%;
    margin-top: 3%;

  }
  .clg2{
   margin-right: 10%;
    text-align:center;
  }
 
  
  
  /* CSS */
  .button-92 {
    --c: #0000;
    /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    rgb(255, 189, 74);
    /* background color */
    color: #000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
    float: right;
    width: 50%;
  }
  
  .button-92:hover,
  .button-92:focus-visible {
    --_p: 0%;
    --_i: 1;
  }
  
  .button-92:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
  }
  
  .button-92 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
  }

  
  .caro{
    margin-top: 2%;
    height: 50vh;
    width: 50%;
    
  }